.user-list {
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .user-list li {
    display: flex;
    padding: 20px;
  }
  
  .user-list img {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
  }
  
  .user-list .user-info {
    margin-left: 10px;
  }
  
  .user-list .user-info h4 {
    margin: 0 0 10px;
  }
  
  .user-list .user-info p {
    font-size: 12px;
  }